{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <section>
        <div class="intro">
            <img alt="dessin gateau" src="{{ asset('pictures/image-intro/img-intro.png') }}">
        </div>
        <div class="services" id="btn-href-services">
            <h2 class="titre-sec">Mes services</h2>
            <p>Dans un cadre calme et apaisant, mon engagement est de vous donner les clefs afin d’atteindre vos objectifs et découvrir l’alimentation qui vous permettra de prendre plaisir à manger gourmand, sain et équilibré.</p>
        </div>
        <div class="promo">
            <div class="promo1">
                <img src="{{ asset('pictures/section-promo/plan-perso.jpg') }}" alt="Cerveau alimenté de légumes">
                <div class="explain">
                    <h3>Plan  personnalisé</h3>
                    <p>Pas de régime, juste du rééquilibrage</br> alimentaire. Pas de sensation de </br>faim la méthode s’adapte à</br> votre rythme de vie.</p>
                </div>
            </div>
            <div class="promo2">
                <div class="explain">
                    <h3>Coaching personnalisé</h3>
                        <p>Vous, votre histoire, votre mode</br> de vie et vos choix requièrent</br> une alimentation unique.</p>
                </div>
                <img src="{{ asset('pictures/section-promo/coach-perso.jpg') }}" alt="Tasse a café">
            </div>
            <div class="promo3">
                <img src="{{ asset('pictures/section-promo/suivi-diet.jpg') }}" alt="Plat de pasta">
                <div class="explain">
                    <h3>Suivi en diététique/nutrition</h3>
                        <p>Je vous propose de vous accompagner </br>toutes les semaines pour perdre </br>du poids (600g à 1kg / semaine). </br>Une perte de poids durable avec </br>les phases de stabilisation </br>et d’entretien.</p>
                </div>
            </div>
            <div class="promo4">
                <div class="explain">
                    <h3>Pas besoin de sport</h3>
                        <p>Il est vrai que le combo sport + alimentation </br>montre des résultats impressionnants</br> et plus rapides, ce n’est pas une </br>condition obligatoire pour </br>perdre du poids</p>
                </div>
                <img src="{{ asset('pictures/section-promo/sport-complique.jpg') }}" alt="Sport compliqué">
            </div>
        </div>

        <div class="apropos">
            <h2>A Propos</h2>

            <h3>Mes différents rendez-vous :</h3>
            <ul>
                <li>La consultation initiale : durée 45min
                Je vous écoute afin de remplir votre bilan nutritionnel personnalisé et j’apprends à vous connaitre. Votre impédance est réalisée. Ensuite, nous élaborons ensemble un premier programme alimentaire personnalisé et adapté et fixons les premiers objectifs.</li>
                <li>Les consultations de suivi : durée 30min
                Vous décidez de la fréquence de ces consultations (conseillé : 1er suivi 15jours ; les autres mensuels). Nous analyserons ensemble votre évolution (impédance), vos difficultés rencontrées et apporterons les modifications nécessaires au programme initial. De nouveaux objectifs sont définis.</li>
                <li>Aide nutritionnelle lors de vos achats alimentaires :
                Vous avez besoin de conseils pendant vos courses ? Je suis là ! Vous avez la possibilitée de nous contacter par telephone: <a href="tel:+33468040404">04 68 04 04 04</a></li>
            </ul>
            <h3>"Concernant ma mutuelle ?!"</h3>
            <ul>
                <li>Je renseigne mon profil et précise mes besoins</br>
                    Ainsi les assureurs pourront vous proposer des offres adaptées à vos besoins et à votre budget.
                    Vous pourrez à tout moment revenir sur les différentes questions afin d’en modifier les réponses. Simple & rapide, cette étape n’excède pas 2 minutes</li>
                <li>Je compare les offres des assureurs</br>
                    Les garanties sont classées par prix et correspondent au profil renseigné et aux besoins souhaités.
                    Notre impartialité est totale. Nous ne privilégions aucun assureur.</li>
                <li>Je choisi parmi l'une des offres proposées</br>
                    Après comparaison approfondie, vous pourrez entrer directement en contact avec la compagnie d’assurance (téléphone, e-mail…) ou souscrire l’une des offres sur le site internet de cette dernière.</li>
            </ul>
        </div>
        <div class="presentation">
            <p>Vous désirez en savoir plus sur mon parcours?</br>Je vous invite à visiter cette page !  </p>
            <button class="button-33" role="button"><a href="{{ path('app_sandrine_profil') }}">Cliquez ici !</a></button>
        </div>
        <h2>Nous contacter</h2>

        <div class="mentionPolitiqueContact">
            <div class="inscription">
                <p>Si vous souhaitez en savoir plus sur notre programme, le suivre ou même poser des questions concernant les forfaits, je vous invite à nous joindre par
                    formulaire grâce au bouton ci-dessous. </p>
                {% if  app.user is not null %}
                    <button class="button-33" role="button"><a href="{{ path('app_deja_inscrit') }}">Inscription</a></button>
                {% else %}
                    <button class="button-33" role="button"><a href="{{ path('app_register') }}">Inscription</a></button>
                {% endif %}
            </div>
            <div class="mentionPolitiqueHome">
                <p>Des inquiétudes concernant vos <b>données?</b> Vous pouvez parcourir notre politique de confidentialitée ainsi que nos mentions légales
                grâce aux liens suivants :</p>
                <div class="buttons">
                    <button class="button-33" type="button"><a href="{{ path('app_politique') }}">Pol. Confidentialitee</a></button>
                    <button class="button-33" type="button"><a href="{{ path('app_mentions_legales') }}">Mentions Légales</a></button>
                </div>
            </div>
        </div>




        <div class="recette">
            <h2>Mes recettes</h2>
            <button type="button" class="button.33"><a href="{{ path('app_recipe', {'id': '4'}) }}">Accés recette</a></button>
            <button type="button" class="button.33"><a href="{{ path('app_recipe', {'id': '6'}) }}">Accés recette</a></button>
            <button type="button" class="button.33"><a href="{{ path('app_recipe', {'id': '1'}) }}">Accés recette</a></button>
            <h3>Liste de toutes mes recettes</h3>
            <button class="button-33" type="button"><a href="{{ path('app_all_recipe') }}">Toutes mes recettes</a></button>
            <button class="button-33" type="button"><a href="{{ path('app_add_regime') }}">Tous les régimes</a></button>
            <button class="button-33" type="button"><a href="{{ path('app_add_allergene') }}">Tous les allérgenes</a></button>


        <div class="meuilleursRecettes">

        </div>
            <ul>
                {% for recipe in recipes %}
                    <div class="accesRecette">
                   <h4>• {{ recipe.title }}</h4>
                   <p>{{ recipe.description }}</p>
                    {% if recipe.getPicture() %}
                        <img class="imageRecette" alt="Photographie de la recette" src="{{ asset('pictures/recipe-picture/' ~ recipe.getPicture()) }} ">
                    {% endif %}
                    </div>
                {% endfor %}
            </ul>

        </div>

    </section>
{% endblock %}
