{% extends 'base.html.twig' %}

{% block title %}{{  title }}{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

<div class="register">

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.agreeTerms) }}

    {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.username) }}
    <div class="registerFlex">
    {{ form_row(registrationForm.regime) }}
    {{ form_row(registrationForm.allergenes) }}
    </div>

    {{ form_end(registrationForm) }}

    <h2>S'inscrire</h2>

</div>
{% endblock %}
