{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <li>Nom : {{ user.email }}</li>


    <br>    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

{% for u in contact %}
<tbody>
<tr>
    <td>{{ u.email }}</td>
    <td>{{ u.list }}</td>
    <td>{{ u.description }}</td>
    <td><button class="btn " type="button">
            <a href="{{ path('delete_form', {'id': u.id}) }}" onclick="return confirm('Etes vous sûre de supprimer ce formulaire?  ')">Supprimer</a>
        </button>
    </td>
</tr>
</tbody>
    {% endfor %}
    {% endblock %}
