{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="recipeId">
        <h2>{{ id }}</h2>

        <div class="image" id="imageRecipe">
            {% if id.getPicture() %}<img alt="Photographie de la recette" src="{{ asset('pictures/recipe-picture/' ~ id.getPicture()) }} ">{% endif %}
        </div>

        <ul>
            <li>Titre : {{ id.title }}</li>
            <li>Description : {{ id.description }}</li>
            <li>Temps de préparation : {{ id.cookingTime }}</li>
            <li>Temps de repos : {{ id.cookingRest }}</li>
            <li>Temps de cuisson : {{ id.heatTime }}</li>
            <li>Liste des ingrédients : {{ id.ingredients }}</li>
            <li>Nombre d'étapes: {{ id.steps }}</li>
            <li>Allergène: {{ allergene.recipAllergene }}</li>

            <!-- regime et allergenes -->

        </ul>


    </div>

{% endblock %}
